.checkout {
  padding: 82px 20px;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  & form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & input,
    select {
      padding: 5px;
    }

    & button {
      padding: 5px;
      cursor: pointer;
    }
  }
}
